/*
    Name: Glacier
    Description: Clean & Minimal Portfolio HTML5 Template
    Version: 1.0
    Author: MountainTheme
    
    TABLE OF CONTENTS
    ---------------------------
     1. General
     2. Header
     3. Portfolio
     4. Blog
     5. Footer
     6. Shop
     7. Elements
     8. Responsive CSS
*/


/* ================================= */
/* :::::::::: 1. General ::::::::::: */
/* ================================= */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 25px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #000;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
}

h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Dosis, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
}

.minimal-page-loader {
    background: #fff;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 99999;
}

::-webkit-input-placeholder {
    color: #8e8e8e;
}

:-moz-placeholder {
    color: #8e8e8e;
    opacity: 1;
}

::-moz-placeholder {
    color: #8e8e8e;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #8e8e8e;
}

#wrapper {
    padding: 80px 0;
}

.glacier-padding-right {
    padding-right: 5%;
}

.glacier-padding-left {
    padding-left: 5%;
}

a,
a:hover {
    color: #000;
}


/* ================================= */
/* ::::::::::: 2. Header ::::::::::: */
/* ================================= */

header {
    height: 70px;
    z-index: 999;
    width: 100%;
    margin-top: 25px;
    position: relative;
}

header .logo {
    font-size: 17px;
    font-weight: 600;
    padding-top: 13px;
    font-family: Dosis, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
}

header .logo a {
    color: pink;
    text-decoration: none;
}

.parallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 630px;
    margin-bottom: 60px;
    margin-top: -185px;
}

.parallax .info {
    text-align: center;
    width: 100%;
    display: table;
    height: 100%;
    position: absolute;
}

.parallax .info h2 {
    letter-spacing: 0.40em;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    color: pink;
    -webkit-text-stroke-width: 0.01em;
    -webkit-text-stroke-color: white;
    font-weight: bold;
    font-size: 5em;
}

nav {
    float: right;
    height: 50px;
    margin-top: -3px;
    padding-top: 0;
    display: block;
    margin-right: -8px;
}

.icon-mobile {
    display: none;
}

.slicknav_menu {
    display: none;
}

#glacier_menu,
#glacier_menu ul,
#glacier_menu li,
#glacier_menu a {
    border: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#glacier_menu {
    height: 37px;
    display: block;
    padding: 0;
    margin: 0;
    width: auto;
}

#glacier_menu>ul>li.active>ul>li a {
    color: #fff!important;
}

#glacier_menu>ul {
    list-style: inside none;
    padding: 0;
    margin: 0;
}

#glacier_menu>ul>li {
    list-style: inside none;
    float: left;
    display: block;
    padding: 0;
    position: relative;
    margin: 23px 20px 11px 14px;
    padding-bottom: 14px;
}

#glacier_menu>ul>li>a {
    outline: none;
    display: block;
    position: relative;
    margin: 0;
    z-index: 999;
    color: #000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 12px;
}

#glacier_menu>ul>li>a:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 4px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

#glacier_menu>ul>li>a:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#glacier_menu>ul>li.active>a:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#glacier_menu ul li.has-sub:hover>ul {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(-0%);
    -moz-transform: translateY(-0%);
    -ms-transform: translateY(-0%);
    -o-transform: translateY(-0%);
    transform: translateY(-0%);
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s;
}

#glacier_menu ul li>ul {
    visibility: hidden;
    opacity: 0;
    width: auto;
    position: absolute;
    top: 24px;
    background: #000000;
    z-index: 999;
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
    transform: translateY(10%);
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
}

#glacier_menu ul li>ul {
    width: 200px;
}

#glacier_menu ul li>ul li {
    display: block;
    list-style: inside none;
    padding: 0;
    margin: 0;
    position: relative;
    padding: 14px 20px;
}

#glacier_menu ul li ul ul {
    left: 200px;
    top: 0;
}

#glacier_menu ul li>ul li a {
    outline: none;
    position: relative;
    margin: 0;
    line-height: 15px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 11px;
}


/* ================================= */
/* :::::::: 3. Portfolio ::::::::::: */
/* ================================= */

.portfolioFilter {
    margin-top: 16px;
    margin-bottom: 40px;
}

.portfolioFilter .cbp-filter-item {
    font-family: Dosis, Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 8px 23px 0 0;
    display: inline-block;
    cursor: pointer;
}

.portfolioFilter .cbp-filter-item::before,
.portfolioFilter .cbp-filter-item::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.portfolioFilter .cbp-filter-item::before {
    margin-right: 5px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.portfolioFilter .cbp-filter-item::after {
    margin-left: 5px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.portfolioFilter .cbp-filter-item:hover::before,
.portfolioFilter .cbp-filter-item:hover::after,
.portfolioFilter .cbp-filter-item-active::before,
.portfolioFilter .cbp-filter-item-active::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}


/* style */

.cbp.fadeAnim .cbp-item .caption-center-box {
    display: table;
    width: 100%;
    height: 100%;
}

.cbp.fadeAnim .cbp-item .caption-body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 15px 0;
}

.cbp.fadeAnim .cbp-item .caption-box {
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 100%;
}

.cbp.fadeAnim .cbp-item .caption-body h2 {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: opacity 1s cubic-bezier(0.07, 0.72, 0.24, 1), -webkit-transform 1s cubic-bezier(0.07, 0.72, 0.24, 1);
    transition: opacity 1s cubic-bezier(0.07, 0.72, 0.24, 1), -webkit-transform 1s cubic-bezier(0.07, 0.72, 0.24, 1);
    -o-transition: transform 1s cubic-bezier(0.07, 0.72, 0.24, 1), opacity 1s cubic-bezier(0.07, 0.72, 0.24, 1);
    transition: transform 1s cubic-bezier(0.07, 0.72, 0.24, 1), opacity 1s cubic-bezier(0.07, 0.72, 0.24, 1);
    transition: transform 1s cubic-bezier(0.07, 0.72, 0.24, 1), opacity 1s cubic-bezier(0.07, 0.72, 0.24, 1), -webkit-transform 1s cubic-bezier(0.07, 0.72, 0.24, 1);
    font-size: 17px;
}

.cbp.fadeAnim .cbp-item:hover .caption-body h2 {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.cbp.fadeAnim .cbp-item:hover .image-box,
.portfolioContainer.creativeAnim .element-item:hover .element-img-box {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.cbp.minimalAnim .cbp-item .image-box,
.cbp.minimalAnim .cbp-item .caption-box {
    opacity: 1;
    -webkit-transition: opacity 1s cubic-bezier(0.07, 0.72, 0.24, 1);
    -o-transition: opacity 1s cubic-bezier(0.07, 0.72, 0.24, 1);
    transition: opacity 1s cubic-bezier(0.07, 0.72, 0.24, 1);
}

.cbp.minimalAnim .cbp-item:hover .image-box,
.cbp.minimalAnim .cbp-item:hover .caption-box {
    opacity: 0.4;
}

.cbp.fadeAnim .cbp-item .image-box,
.portfolioContainer.creativeAnim .element-item .element-img-box {
    -webkit-transition: -webkit-transform 2s cubic-bezier(0.08, 0.43, 0.24, 1);
    transition: -webkit-transform 2s cubic-bezier(0.08, 0.43, 0.24, 1);
    -o-transition: transform 2s cubic-bezier(0.08, 0.43, 0.24, 1);
    transition: transform 2s cubic-bezier(0.08, 0.43, 0.24, 1);
    transition: transform 2s cubic-bezier(0.08, 0.43, 0.24, 1), -webkit-transform 2s cubic-bezier(0.08, 0.43, 0.24, 1);
}

.cbp.fadeAnim .cbp-item .caption-box {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: opacity 1s cubic-bezier(0.07, 0.72, 0.24, 1);
    -o-transition: opacity 1s cubic-bezier(0.07, 0.72, 0.24, 1);
    transition: opacity 1s cubic-bezier(0.07, 0.72, 0.24, 1);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.cbp.fadeAnim .cbp-item:hover .caption-box {
    opacity: 1;
}


/* minimal */

.cbp.minimalAnim .cbp-item {
    text-align: center;
}

.cbp.minimalAnim .cbp-item h2 {
    font-size: 15px;
    margin-bottom: 3px;
}

.cbp.minimalAnim .cbp-item p {
    font-weight: 200;
}

.cbp.minimalAnim .cbp-item .caption-box {
    padding-top: 30px;
    padding-bottom: 12px;
}


/* creative */

.cbp.creativeAnim .caption-box {
    position: absolute;
    padding: 31px 12px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 50%;
    background-color: #fff;
    color: #000;
    text-align: center;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: 0.5s -webkit-transform cubic-bezier(0.07, 0.72, 0.24, 1);
    transition: 0.5s -webkit-transform cubic-bezier(0.07, 0.72, 0.24, 1);
    -o-transition: 0.5s transform cubic-bezier(0.07, 0.72, 0.24, 1);
    transition: 0.5s transform cubic-bezier(0.07, 0.72, 0.24, 1);
    transition: 0.5s transform cubic-bezier(0.07, 0.72, 0.24, 1), 0.5s -webkit-transform cubic-bezier(0.07, 0.72, 0.24, 1);
}

.cbp.creativeAnim .caption-box h2 {
    font-size: 1.0em;
}

.cbp.creativeAnim .cbp-item:hover .caption-box {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.cbp.creativeAnim .cbp-item:hover .caption-box:before {
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}

.cbp.creativeAnim .cbp-item .caption-box:before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transition: .5s transform ease;
    -o-transition: .5s transform ease;
    transition: .5s transform ease;
}

.cbp.creativeAnim .cbp-item .caption-box:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    right: 0;
    height: 600%;
    background-color: inherit;
    z-index: -1;
}


/* single projects */

.portfolio-single-nav {
    margin-top: 55px;
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}

.single-project h4.title-project {
    margin-top: 0;
    font-size: 18px;
}

.single-navigation .prev-button {
    float: left;
    padding-bottom: 10px;
}

.single-navigation .next-button {
    float: right;
}

.single-navigation .prev-button a,
.single-navigation .next-button a {
    color: #ffffff;
    border: none;
    font-size: 11px;
    background: rgb(0, 0, 0);
    border-radius: 0;
    margin-top: 5px;
    display: block;
    text-decoration: none;
    position: relative;
    font-weight: 400;
    z-index: 999;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
    padding: 8px 28px;
}

.single-navigation .prev-button a i {
    padding-right: 5px;
    font-weight: 700;
}

.single-navigation .next-button a i {
    padding-left: 5px;
    font-weight: 700;
}

.gallery-projects {
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;
}

.gallery-projects i {
    font-size: 23px;
    color: #000;
    display: table-cell;
    vertical-align: middle;
}

.gallery-projects img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.gallery-projects .gallery-projects-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.gallery-projects .gallery-projects-item .item-info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

.gallery-projects .gallery-projects-item .item-info span {
    display: inline-block;
    font-weight: 400;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: #000000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.gallery-projects:hover .gallery-projects-item {
    opacity: 1;
}

.gallery-projects:hover .item-info span {
    opacity: 1;
}

.project-details {
    margin-top: 30px;
    margin-bottom: 30px;
}

.project-details h4 {
    display: block;
    padding-bottom: 10px;
}

.project-details h4 {
    margin-top: 18px;
    font-size: 18px;
}

.project-details h5 {
    margin-top: 18px;
    font-size: 14px;
}

.project-details .share-icons {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
}

.project-details .share-icons span {
    margin-right: -10px;
}

.project-details .share-icons li {
    list-style: none;
    display: inline-block;
}

.project-details .share-icons li a {
    color: #000000;
    font-size: 14px;
    display: block;
    margin-right: 18px;
    position: relative;
    background-color: transparent;
}

.project-details .share-icons li i.fa {
    color: rgb(33, 31, 31);
}

.nav-portfolio {
    margin-top: 60px!important;
}


/* ================================= */
/* ::::::::::: 4. Blog ::::::::::::: */
/* ================================= */


/* type link */

.entry-header .type-link {
    text-align: center;
    height: 200px;
    background-size: cover;
    background-position: center center;
}

.entry-header .type-link.img-none {
    background: rgb(0, 0, 0);
}

.entry-header .type-link a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 70px 28px;
    text-decoration: none;
    color: #fff;
    word-break: break-all;
}

.entry-header .type-link a:before {
    content: '\f0c1';
    font-family: Fontawesome;
    font-style: normal;
    font-size: 21px;
    text-align: center;
    color: #fff;
    margin-bottom: 14px;
    display: block;
}


/* type quote */

.entry-header .type-quote {
    text-align: center;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.entry-header .type-quote.img-none {
    background: rgb(0, 0, 0);
}

.entry-header .type-quote a {
    text-decoration: none;
    color: #fff;
}

.entry-header .type-quote blockquote:before {
    content: '\f10d';
    font-family: Fontawesome;
    font-style: normal;
    font-size: 21px;
    text-align: center;
    color: #fff;
    margin-bottom: 14px;
    display: block;
}

.entry-header .type-quote blockquote {
    border: none;
    padding: 70px 28px;
}

.entry-header .type-quote blockquote p {
    font-style: italic;
    font-size: 17.5px;
}

.entry-header .type-quote blockquote cite {
    font-size: 16px;
    font-weight: 300;
}


/* type status */

.entry-header .type-status {
    text-align: center;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.entry-header .type-status .twitter-tweet {
    text-align: center;
    margin: 0 auto!important;
}

.entry-header .type-status {
    border: none;
    text-align: center;
    padding: 70px 28px;
}


/* type video and audio */

.type-video .wp-video {
    width: 100%!important;
}

.type-video iframe,
.type-audio iframe {
    width: 100%!important;
    height: 450px;
}

.entry-header .type-audio.image-audio {
    text-align: center;
    padding: 25em 0 0;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    color: #fff;
}

.entry-header .type-audio h2 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    color: #fff;
}


/* type gallery */

.post ul.gallery-projects {
    text-align: left;
}

.post ul.gallery-projects {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.post ul.gallery-projects li {
    list-style: none;
    float: left;
    width: 33.33%;
    height: 25%;
}

.post .gallery-projects img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.post .flexslider ul li div {
    height: 450px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    background-repeat: no-repeat;
}

.post .flex-caption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-bottom: 0;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.post .entry-header img.flex-resize {
    opacity: 0;
    visibility: hidden;
    height: 50px;
}

.post .flex-direction-nav a {
    background: #ffffff;
    text-align: center !important;
}

.post .flex-direction-nav a i {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
}

.post .flexslider:hover .flex-direction-nav .flex-next {
    right: 0;
}

.post .flexslider:hover .flex-direction-nav .flex-prev {
    left: 0;
}

.gallery-post {
    overflow: hidden;
}

.post {
    margin-bottom: 25px;
    overflow: hidden;
}

.blog-no-border .post {
    border: none;
    margin-bottom: 2.5%;
    padding-bottom: 0;
}

.blog-column-two {
    float: left;
}

.blogContainer .gutter-sizer,
.shopContainer .gutter-sizer {
    width: 3%;
}

.blogContainer .blog-column-one {
    width: 100%;
}

.blogContainer .blog-column-two {
    width: 48.5%;
}

.blogContainer .blog-column-three {
    width: 31.333%;
}

.entry-title a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

h2.entry-title {
    font-size: 1.2em;
    line-height: 25px;
    margin-top: 30px;
}

.post-intro img {
    height: auto;
    margin-bottom: 27px;
    text-align: left;
    max-width: 100%;
    display: block;
}

.post-button {
    margin-top: 30px;
}

.post-button a,
.load-more a {
    color: #fff!important;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    background: #000;
    font-family: "Dosis", sans-serif;
    letter-spacing: 2px;
    padding: 8px 28px;
    display: inline-block;
}

.load-more {
    margin-top: 75px;
}

.load-more a.disabled {
    cursor: default;
    opacity: 0.5;
    color: #fff;
}

.load-more a.loaded {
    background: #000;
    color: #fff;
    pointer-events: none;
}

.load-more a.loaded span {
    margin-left: 5px;
}

.load-more a .fa-spin {
    display: none;
    font-size: 13px;
    color: #fff;
}

.load-more a.loaded .fa-spin {
    display: table-row;
}

.load-more span i.fa-spin {
    -webkit-animation: fa-spin 1.2s infinite linear;
    animation: fa-spin 1.2s infinite linear
}

@-webkit-keyframes fa-spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fa-spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.load-more a span {
    opacity: 1.0;
    -webkit-transition: opacity .25s;
    -moz-transition: opacity .25s;
    -o-transition: opacity .25s;
    -ms-transition: opacity .25s;
    transition: opacity .25s;
}

.post-details {
    width: 100%;
    display: inline-block;
}

.post-details div {
    float: left;
    color: #000000;
    margin-top: 10px;
    margin-right: 20px;
}

.post-details div i {
    color: #000000;
    padding-right: 5px;
}

.post-details div a {
    text-decoration: none;
    color: #000;
}

.post-info {
    color: #000000;
    margin-top: 10px;
    margin-bottom: 38px;
}

.post-info img {
    max-width: 100%;
    height: auto;
}

.pagination {
    display: inline-block;
    margin-top: 55px;
    margin-bottom: 29px;
    text-align: center;
    width: 100%;
}

.page-numbers {
    text-align: center;
}

.page-numbers li {
    float: left;
    margin: 5px;
    list-style: none;
}

.pagination a,
.pagination span {
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    width: 33px;
    height: 33px;
    margin: 1px;
    padding-top: 4px;
    color: #000000;
}

.pagination span.current {
    background: #0a0a0a;
    color: #fff;
    font-weight: 400;
}

.post-navigation .prev-button {
    float: left;
    padding-bottom: 10px;
}

.post-navigation .next-button {
    float: right;
    padding-bottom: 60px;
}

.post-navigation .prev-button a,
.post-navigation .next-button a {
    color: #ffffff;
    border: none;
    font-size: 11px;
    background: rgb(0, 0, 0);
    border-radius: 0;
    margin-top: 5px;
    display: block;
    text-decoration: none;
    position: relative;
    font-weight: 400;
    z-index: 999;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
    padding: 8px 28px;
}

.post-navigation .prev-button a i {
    padding-right: 5px;
    font-weight: 700;
}

.post-navigation .next-button a i {
    padding-left: 5px;
    font-weight: 700;
}

.footer-single {
    color: #000000;
    width: 100%;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: -50px;
}

.footer-single a {
    text-decoration: none;
    color: #000000;
}

.footer-single a[rel=tag] {
    margin-bottom: 23px;
    display: inline-block;
}

.post-categories {
    margin-bottom: 20px;
    width: 50%;
    float: left;
    display: inline-block;
    vertical-align: middle;
}

.post-tags {
    float: left;
    width: 100%;
}

#comments h3.comment-reply-title,
#comments h3.comments-title {
    text-align: left;
    font-weight: 600;
    font-size: 1.0em;
    margin-top: 120px;
    display: block;
}

#comments h3 a {
    font-weight: 400;
    font-size: 10px;
    color: #000000;
}

#comments h3.comment-reply-title {
    margin-bottom: 20px;
    margin-top: 35px;
}

#comments .form-submit {
    margin-top: 5px;
    display: inline-block;
}

.form-comment {
    margin-bottom: 20px;
}

.border-comment {
    border-bottom: 1px solid #f1f1f1;
    padding: 23px 0;
}

#comments {
    padding-top: 20px;
}

#comments .comment {
    list-style: none;
}

ol.comment-list,
ul.comments,
li.comment {
    padding: 0;
    margin: 0;
}

.no-comments {
    font-weight: 400;
    margin: 40px 0 0;
    text-align: center;
}

#comments .child-comment {
    padding-left: 7%;
}

.comment .avatar-author img {
    float: left;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.comment .name-author {
    text-align: left;
    font-weight: 400;
}

.comment .name-author a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
}

.comment .date-comment {
    text-align: left;
    padding: 5px 0;
}

.comment .date-comment a {
    color: #000000;
}

.comment .header-comment a {
    color: #000000;
    text-decoration: none;
}

.comment .body-comment {
    text-align: left;
    word-spacing: 1px;
    margin-top: 15px;
    color: #000000;
}

.comment .reply a {
    margin-top: 16px;
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(255, 255, 255);
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#comments input[type='text'],
#comments input[type='email'] {
    width: 100%;
    background: transparent;
    border: 1px solid #f1f1f1;
    height: 40px;
    padding: 10px;
    margin-bottom: 17px;
    outline: none;
    font-weight: 300;
}

#comments .navigation {
    background: none;
    width: auto;
    text-align: center;
    height: auto;
    position: relative;
    left: 0;
    top: -5px;
}

.comment-navigation .nav-links {
    margin-top: 60px;
    margin-bottom: -50px;
}

#comments .navigation a {
    color: #000000;
    font-size: 13px;
}

#comments textarea {
    width: 100%;
    background: transparent;
    padding: 10px;
    border: 1px solid #f1f1f1;
    outline: none;
    color: #000000;
    resize: vertical;
    font-weight: 300;
}

#comments input[type='submit'] {
    outline: none;
    color: #ffffff;
    border: none;
    font-size: 11px;
    background: rgb(0, 0, 0);
    border-radius: 0;
    float: left;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
    padding: 8px 28px;
    margin-top: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#comments input[type="submit"]:hover {
    background: #000000;
    color: #fff;
}

#comments::-webkit-input-placeholder {
    color: #000000;
}

#comments:-moz-placeholder {
    color: #000000;
    opacity: 1;
}

#comments::-moz-placeholder {
    color: #000000;
    opacity: 1;
}

#comments:-ms-input-placeholder {
    color: #000000;
}


/* minimal style */

.blog-minimal .entry-title {
    margin-top: 0;
}

.blog-minimal .col-md-5 {
    padding-left: 0;
}

.blog-minimal {
    display: flex;
}


/* creative style */

.blog-creative .work-box {
    background-position: center center;
    background-size: cover;
    height: 0;
    width: 100%;
    padding-top: 66.64%;
    background-repeat: no-repeat;
}

.blog-creative .entry-header {
    overflow: hidden;
    position: relative;
}

.blog-creative img {
    height: auto;
    max-width: 100%;
    display: block;
}

.blog-creative .creative-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.blog-creative .blog-creative-item {
    height: 101%;
    width: 101%;
    display: table;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
}

.blog-creative .blog-creative-item .item-info {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.blog-creative .blog-creative-item .item-info span {
    display: inline-block;
    font-weight: 600;
    width: 100%;
    text-transform: uppercase;
    color: #000000;
    font-size: 14px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
}

.blog-creative .blog-creative-item .item-info em {
    font-style: normal;
    font-weight: 300;
    display: inline-block;
    padding: 5px;
    color: black;
    margin-top: 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
}

.blog-creative .blog-creative-item .item-info em a {
    color: #000;
    text-decoration: none;
}

.blog-creative:hover .blog-creative-item {
    opacity: 1;
    background: rgba(255, 255, 255, .9);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.blog-creative:hover .item-info em,
.blog-creative:hover .item-info span {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.footer-single .share-icons {
    float: right;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    margin-top: 2px;
}

.footer-single .share-icons span {
    margin-right: -10px;
}

.footer-single .share-icons li {
    list-style: none;
    display: inline-block;
}

.footer-single .share-icons li a {
    color: #000000;
    font-size: 14px;
    display: block;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
}

.footer-single .share-icons li i.fa {
    color: rgb(33, 31, 31);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sidebar .sidebar-title {
    padding: 10px 0 10px 0;
    font-size: 1.0em;
    font-weight: 600;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar a {
    text-decoration: none;
}

.sidebar .sidebar-box {
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.sidebar .search input[type=search]:focus {
    outline: 0;
    box-shadow: none;
}

.sidebar .search button {
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: none;
    padding-right: 11px;
    background: none;
    font-size: 14px;
    padding: 0 10px 1px 2px;
    height: 34px;
    border-radius: 0;
    color: #000000;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}

.sidebar .search .input-group-btn {
    width: 16%;
}

.sidebar .search .input-group-btn {
    width: 1% !important;
}

.sidebar .search button:focus {
    outline: none;
}

.sidebar .search input[type=search] {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: none;
    color: #000;
    padding-left: 12px;
    font-size: 14px;
    padding-right: 0;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    height: 34px;
    font-weight: 300;
}


/* ================================= */
/* :::::::::: 5. Footer :::::::::::: */
/* ================================= */

footer {
    padding: 80px;
    width: 100%;
    overflow: hidden;
    color: #000;
    background: #f8f8f8;
    text-align: center;
}

footer .social-icons li {
    float: left;
    list-style: none;
}

footer .social-icons ul {
    margin: 0;
    padding: 0;
}

footer .social-icons li a {
    color: #000000;
    font-size: 12px;
    display: block;
    margin: 0 15px 15px 15px;
    position: relative;
    background-color: transparent;
    letter-spacing: 2px;
    font-family: "Dosis", sans-serif;
}

footer .social-icons a:hover i.fa {
    color: rgba(0, 0, 0, 0.44);
}

footer .social-icons li i.fa {
    color: rgb(33, 31, 31);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

footer .social-icons {
    display: inline-block;
    margin-bottom: -5px;
}

footer .social-icons ul {
    margin: 0;
    padding: 0;
}

footer .copyright {
    float: right;
    width: 100%;
}

footer a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #000;
}

footer a:hover,
footer a:focus {
    color: #000;
    text-decoration: none;
}


/* ================================= */
/* :::::::::: 6. Shop :::::::::::::: */
/* ================================= */

.cart-container {
    position: relative;
    float: right;
    margin-left: 20px;
    margin-top: 11px;
}

.icon-cart {
    cursor: pointer;
}

.icon-cart i {
    font-size: 24px;
}

.icon-cart span {
    position: absolute;
    right: -13px;
    top: -8px;
    font-size: 12px;
    line-height: 18px;
    display: block;
    text-align: center;
    background: #000;
    color: #fff;
    width: 19px;
    font-weight: 400;
    height: 19px;
    word-wrap: break-word;
    border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.cart-widget {
    visibility: hidden;
    opacity: 0!important;
    min-width: 280px;
    position: absolute;
    top: 33px;
    right: 0;
    color: #fff;
    padding: 20px;
    background: #000000;
    z-index: 999;
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
    transform: translateY(10%);
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
}

.cart-widget.widget-visible {
    visibility: visible;
    opacity: 1!important;
    -webkit-transform: translateY(-0%);
    -moz-transform: translateY(-0%);
    -ms-transform: translateY(-0%);
    -o-transform: translateY(-0%);
    transform: translateY(-0%);
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s;
}

.cart-widget .mini-cart__total {
    margin-bottom: 10px;
}

.cart-widget ul.cart_list li,
.cart-widget ul.product_list_widget li {
    padding-top: 0!important;
    padding-left: 0px!important;
    padding-bottom: 15px!important;
    list-style: none;
}

.cart-widget li:after,
.cart-widget li:before {
    content: "";
    display: table;
    clear: both;
}

.cart-widget img {
    width: 75px;
    height: auto;
    float: right;
}

.cart-widget strong,
.cart-widget b {
    font-weight: 300;
}

.cart-widget .total span {
    float: right;
}

.cart-widget a {
    text-decoration: none;
}

.cart-widget ul {
    padding: 0;
    margin: 0;
}

.cart-widget .quantity {
    display: block;
    color: #fff!important;
}

.widget .quantity {
    color: #000;
    padding-top: 5px;
    display: block;
}

.cart-widget ul.cart_list li.empty {
    padding: 0!important;
}

.cart-widget ul.cart_list li a,
.cart-widget ul.product_list_widget li a {
    color: #fff!important;
    font-weight: 300;
    text-decoration: none;
    width: auto;
    display: block;
}

.cart-widget a.remove {
    font-size: 16px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: none!important;
}

.cart-widget a.remove:hover {
    background: #fff!important;
    color: #000!important;
}

.cart-widget .widget_shopping_cart .total,
.cart-widget.widget_shopping_cart .total {
    border-top: none;
    padding: 0 0 3px 0!important;
}

.cart-widget .widget_shopping_cart .total strong,
.cart-widget.widget_shopping_cart .total strong {
    font-weight: 400;
}

.cart-widget .widget_shopping_cart .total span,
.cart-widget.widget_shopping_cart .total span {
    float: right;
}

.cart-widget .buttons a {
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    font-weight: 300;
    background: rgb(0, 0, 0);
    outline: none;
    border: none;
    border-radius: 0;
    letter-spacing: 2px;
    padding: 14px 28px;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
    padding: 0 0 0 4px!important;
}

.cart-widget .buttons a.checkout {
    float: right;
    line-height: 1;
    position: relative;
    top: 9px;
}

.cart-widget .buttons {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 13px;
    margin: 0 0 -7px 0;
}

.page-title {
    font-size: 20px;
}

.shop-products.columns-3 .product {
    width: 31.35%;
    float: left;
    margin: 0 0 2.992em 0;
}

.shop-ordering {
    float: right;
}

.shop-ordering select {
    outline: none;
    padding: 10px;
    border-radius: 0;
    border-color: #f5f5f5;
    vertical-align: top;
}

.shop-result-count {
    float: left;
}

.shop-second-image {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.shop-second-image img {
    width: 100%;
}

.product-images:hover .shop-second-image {
    opacity: 1;
}

.shop-first-image img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.shop-first-image:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.shop-first-image .onsale {
    background-color: #000;
    border-radius: 0;
    font-weight: 300;
    color: #fff;
    min-width: 5.0em;
    min-height: 1.0em;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    z-index: 999;
    right: 0;
    top: 0;
    position: absolute;
    text-align: center;
}

.product-images {
    overflow: hidden;
    display: block;
    position: relative;
}

.shop-products li {
    list-style: none;
}

.shop-products a {
    text-decoration: none;
}

.shop-product-title {
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #000;
    font-weight: 600;
}

.shop-products .shop-price,
.sidebar-product-list {
    font-weight: 300;
    color: #000;
    font-size: 14px;
}

.shop-products .shop-button-box {
    margin-top: 25px;
}

.shop-products .button-product {
    color: #fff!important;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    background: #000;
    font-family: "Dosis", sans-serif;
    letter-spacing: 2px;
    padding: 14px 28px;
}

@font-face {
    font-family: 'star';
    src: url('../fonts/star.eot');
    src: url('../fonts/star.eot?#iefix') format('embedded-opentype'), url('../fonts/star.woff') format('woff'), url('../fonts/star.ttf') format('truetype'), url('../fonts/star.svg#star') format('svg');
    font-weight: normal;
    font-style: normal;
}

.shop-products .star-rating {
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    width: 5.4em;
    font-family: star;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 12px;
}

.sidebar-product-list .star-rating {
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    width: 5.4em;
    font-family: star;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.product-single-info .star-rating {
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    width: 5.4em;
    font-family: star;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.sidebar-product-list li {
    margin-bottom: 15px;
}

.shop-products .star-rating span,
.sidebar-product-list .star-rating span,
.product-single-info .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
    color: #000;
}

.shop-products .star-rating span::before,
.sidebar-product-list .star-rating span::before,
.product-single-info .star-rating span::before {
    content: '\53\53\53\53\53';
    top: 0;
    position: absolute;
    left: 0;
}

.shop-products .star-rating::before,
.sidebar-product-list .star-rating::before,
.product-single-info .star-rating::before {
    content: '\73\73\73\73\73';
    color: #000000;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
}

.shop-products.shopContainer {
    margin: 70px 0;
    padding: 0;
    list-style: none outside;
    clear: both;
}

.product-related-products .shopContainer {
    margin: 25px 0;
    padding: 0;
    list-style: none outside;
    clear: both;
}

.sidebar-product-list {
    margin-top: 15px!important;
}

.sidebar-product-list img {
    max-width: 100%;
    height: auto;
    width: 75px;
    float: right;
    margin-left: 4px;
}

.product-single-image {
    float: left;
    width: 48%;
}

.product-single-image img {
    max-width: 100%;
}

.product-single-info {
    float: right;
    width: 48%;
    clear: none;
}

.product-single-box {
    clear: both;
    padding-top: 50px;
}

.product-single-box h2 {
    font-size: 14px;
    margin-bottom: 20px;
}

.product-single-info .shop-price {
    margin-top: 12px;
    display: block;
    margin-bottom: 10px;
}

.product-single-title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 15px;
}

.product-single-info input[type=number]::-webkit-inner-spin-button,
.product-single-info input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    height: 37px;
}

.product-single-info input[type='number'] {
    width: 65px!important;
    text-align: center;
    height: 42px;
    outline: none;
    padding: 0;
    margin: 0;
    padding-left: 12px;
    border: 1px solid #eee;
    display: inline-block;
}

.product-single-info .button-product {
    color: #fff!important;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    background: #000;
    font-family: "Dosis", sans-serif;
    letter-spacing: 2px;
    padding: 14px 28px;
    position: relative;
    top: -2px;
}

.product-related-products {
    margin-top: 80px;
}



/* =============================== */
/* ::::::::: 7. Elements ::::::::: */
/* =============================== */


/* button */

input[type='submit'],
button {
    color: #fff;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    background: #000;
    border: none;
    font-weight: 400;
    font-family: "Dosis", sans-serif;
    letter-spacing: 2px;
    padding: 8px 28px;
    outline: none;
}

input[type='submit']:hover,
button:hover,
input[type='submit']:focus,
button:focus {
    border: none;
    outline: none;
}


/* Google map */

.google-map-minimal #zoom-in,
.google-map-minimal #zoom-out,
.google-map-minimal .gm-style-iw-a {
    display: none;
}

#zoom-in,
#zoom-out {
    height: 32px;
    width: 32px;
    cursor: pointer;
    position: relative;
    z-index: 9999;
    margin-left: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-size: 32px 64px;
    background-image: url("../images/icon-controller.svg");
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

#zoom-in {
    background-position: 50% 0;
    margin-top: 50px;
    margin-bottom: 1px;
}

#zoom-out {
    background-position: 50% -32px;
}

#google-container {
    width: 100%;
    height: 650px;
}

#google-container .contact-info-box {
    padding-left: 15px;
}

#google-container .contact-info-box ul {
    list-style: none;
    line-height: 25px;
    padding: 0px;
    text-align: left;
    position: relative;
    margin-bottom: 0;
}

#google-container .contact-info-box h3 {
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 13px;
}

#google-container .contact-info-box ul li {
    margin-top: 0px;
    font-weight: 400;
    color: #000;
    font-size: 13px;
}

#google-container .contact-info-box ul li i.fa {
    margin-right: 15px;
    color: #000;
    margin-bottom: 15px;
}

#google-container.contact-info-box ul a {
    max-width: 100%;
    color: #000;
}

#google-container .contact-info-box ul a:hover {
    text-decoration: none;
}

#zoom-in:hover,
#zoom-out:hover {
    background-color: #000000;
}




/* team */

.team img {
    width: 100%;
}

.team h2 {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.team p {
    text-align: left;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 15px;
}

.team span {
    font-weight: 500;
    font-size: 13px;
    display: block;
    text-align: right;
    margin-top: -5px;
}

.team .social-icons li {
    list-style: none;
    float: left;
    margin: -6px 20px 15px 0;
}

.team .social-icons li i.fa {
    text-align: center;
    line-height: 35px;
    list-style: none;
    font-size: 16px;
    border-bottom: none;
    float: left;
}

.team .social-icons {
    margin-left: -40px;
    position: relative;
    z-index: 999;
}


/* skillbar */

.skills {
    padding-top: 35px;
}

.skillbar-title {
    position: absolute;
    top: -23px;
    left: 0;
    font-weight: 400!important;
    color: palevioletred;
    font-size: 13px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title h5 {
    display: block;
    font-size: 12px;
    line-height: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.skill-bar-percent {
    position: absolute;
    right: 0;
    top: -30px;
    line-height: 30px;
    color: #000000;
    font-weight: 400!important;
    font-size: 14px;
}

.skillbar-bar {
    height: 1px;
    background: palevioletred;
    width: 0;
}

.skillbar {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #eaeaea;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}


/* experience & hobbies */

.experience-box .icon i.fa,
.hobbies-box .icon i.fa {
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    display: block;
    font-size: 25px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-bottom: none;
    color: #000;
}

.experience-box span {
    font-weight: 300;
    font-size: 15px;
}

.experience-box,
.hobbies-box {
    text-align: center;
    width: 25%;
    float: left;
}

h3.title-section {
    font-weight: 400;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    display: block;
}

h3.title-section span {
    font-weight: 400;
    font-size: 1.0em;
}

h3.title-section:after {
    content: " ";
    border: solid 1px #000000;
    display: block;
    width: 30px;
    margin: 15px auto;
}

.experience-box h4:after {
    content: '//';
    height: 10px;
    line-height: 8px;
    display: block;
    width: 27px;
    margin: 15px auto;
    margin-bottom: 1px;
    font-size: 12px;
}

.experience-box h4,
.hobbies-box h4 {
    font-size: 12px;
    padding-top: 0;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 500;
}


/* partners */

.partners {
    text-align: center;
}

.vc_column_container .partners img {
    text-align: center;
    margin: 0 auto;
}


/* Contact form */

.contact-form p {
    margin-bottom: 10px;
}

.contact-form input[type='text'],
.contact-form input[type='email'] {
    background: transparent;
    height: 40px;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #EDEDED;
    font-size: 14px;
    padding: 5px 15px 5px 15px;
    outline: none;
    -webkit-transition: all 0.3s!important;
    -moz-transition: all 0.3s!important;
    transition: all 0.3s!important;
}

.contact-form textarea {
    width: 100%;
    background: transparent;
    font-size: 14px;
    padding: 15px;
    height: 150px;
    border: 1px solid #EDEDED;
    outline: none;
    margin: 0px 0 3px;
    resize: none;
    -webkit-transition: all 0.3s!important;
    -moz-transition: all 0.3s!important;
    transition: all 0.3s!important;
}

.contact-form input[type='submit'] {
    color: #fff;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    line-height: 16px;
    background: #000;
    border: none;
    font-weight: 400;
    font-family: "Dosis", sans-serif;
    letter-spacing: 2px;
    padding: 14px 28px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.contact-form input[type="submit"]:hover {
    color: #fff;
    background-color: #000;
}

.contact-form {
    background: #FFF;
    width: 100%;
    z-index: 999;
    border-radius: 3px;
}

.contact-form .error {
    color: red;
}


.contact-form input[type='text'].error,
.contact-form input[type='email'].error,
.contact-form textarea.error  {
    border: 1px solid rgba(243, 0, 0, 0.2);
}

.contact-form::-webkit-input-placeholder {
    color: #8e8e8e;
}

.contact-form:-moz-placeholder {
    color: #8e8e8e;
    opacity: 1;
}

.contact-form::-moz-placeholder {
    color: #8e8e8e;
    opacity: 1;
}

.contact-form:-ms-input-placeholder {
    color: #8e8e8e;
}

.contact-form .notification_ok {
  text-align: center;
  color: #000000;
  font-weight: 500;
  font-size: 15px;
  position: absolute;
  top: -46px;
  width: 100%;
  margin-top:5px;
}

.contact-form .notification_ok i {
    color: #84e11f;
    padding-right: 5px;
}


/* ================================ */
/* :::::: 8. Responsive CSS ::::::: */
/* ================================ */

@media only screen and (max-width: 1478px) {
    #glacier_menu ul li ul ul {
        left: -100%!important;
        right: auto;
    }
    #glacier_menu ul li ul {
        right: 0;
    }
}

@media only screen and (max-width: 1036px) {
    .shopContainer.columns-3 .product {
        width: 48.5%;
    }
    header nav {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
    .cart-container {
        z-index: 9999;
        right: 133px;
        display: inline-block;
        position: absolute;
        margin-top: 12px;
    }
    .load-more,
    .pagination {
        margin-bottom: 75px;
    }
    header .logo {
        z-index: 999;
        position: relative;
    }
    .blog-minimal .col-md-5 {
        padding-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .blogContainer .blog-column-two,
    .blogContainer .blog-column-three {
        width: 100%;
    }
    .partners {
        width: 100%;
    }
    #sidebar {
        margin-top: 100px;
    }
    .glacier-padding-left,
    .glacier-padding-right {
        padding: 15px;
    }
}

@media only screen and (max-width: 667px) {
    #comments .child-comment {
        padding: 0;
    }
    .portfolioFilter a {
        width: 100%;
        display: inline-block;
    }
    .portfolioFilter {
        width: 100%;
        overflow: hidden;
    }
    .portfolioFilter a.current:before,
    .portfolioFilter a:before {
        content: "";
        height: 17px;
        background: #000;
    }
    .portfolioFilter a:hover:before,
    .portfolioFilter a:hover:after {
        height: 17px;
    }
    .portfolioFilter a.current:after,
    .portfolioFilter a:after {
        content: "";
        height: 17px;
        background: #000;
    }
    .nivo-lightbox-next,
    .nivo-lightbox-prev {
        bottom: 0;
        margin-right: 5px;
        margin-left: 5px;
    }
    header .logo {
        width: 150px;
    }
    footer .social-icons li {
        float: none;
    }
}

@media only screen and (max-width: 540px) {
    .shopContainer.columns-3 .product {
        width: 100%;
    }
    .cart-widget {
        right: -90px;
    }
    .parallax .info h2 {
        font-size: 2.3em;
    }
    .experience-box,
    .hobbies-box {
        width: 100%;
    }
    .format-gallery ul.gallery-projects li {
        width: 100%;
    }
    .parallax .info h2 {
        font-size: 1.9em;
        padding: 20px;
    }
    .single-navigation .next-button,
    .single-navigation .prev-button,
    .post-navigation .next-button,
    .post-navigation .prev-button {
        float: none;
    }
    .single-navigation .next-button,
    .post-navigation .next-button {
        padding-bottom: 0;
    }
    .single-navigation,
    .post-navigation {
        text-align: center;
    }
    .footer-single .share-icons {
        width: auto;
        float: none;
        display: block;
        text-align: right;
    }
}

@media only screen and (max-width: 320px) {
    .cart-widget {
        right: -118px;
    }
}

.parallax:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.5);
  }